<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, content)">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
  <title th:replace="${title}">Scribbles</title>
</head>

<body>
  <header class="container">
    <nav>
      <h1><a href="/">Scribbles</a></h1>
      <ul>
        <li><a href="/scribble" role="button">Scribble now!</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <div th:replace="${content}"></div>
  </main>

  <footer class="container"><small>Made with ❤️ by Srikar</small></footer>
</body>

</html>
